:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 500px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  body {
    background-color: #757575;
  }

  header {
    background-color: #2E2E2E;
    left: 0;
    height: 35px;
    width: 100%;
  }

.align-text-right {
    text-align: right;
}

.element-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cityform-margin {
  margin-top: 50px;
}

.firstnav-margin {
  top: 27px;
}

.section-background {
  background-color: #212121;
  text-decoration-color: #ede7f6;
}

.section-bar {
  margin-top: 2px;
  background-color: #2E2E2E;
  text-decoration-color: #ede7f6;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.action-cards {
  padding-top: 0px;
}

.action-navbar {
  top: 0px;
  bottom: 0px;
}
